@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-Black.ttf);
    src: url(../fonts/Inter-Bold.ttf);
    src: url(../fonts/Inter-ExtraBold.ttf);
    src: url(../fonts/Inter-ExtraLight.ttf);
    src: url(../fonts/Inter-Light.ttf);
    src: url(../fonts/Inter-Medium.ttf);
    src: url(../fonts/Inter-Regular.ttf);
    src: url(../fonts/Inter-SemiBold.ttf);
    src: url(../fonts/Inter-Thin.ttf);
    src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
}




* {
    box-sizing: border-box;
   margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
a {
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.header_container{
    padding-right: 15%;
    padding-left: 15%;
}
.header_navbar{
    margin: 0 auto;
    padding-top: 50px;
}
.header_navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto ;
}
.header .header_container .header_navbar div{
    display: flex;
}
.header .header_container .header_navbar ul li a{

/* nav text */

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 18px;
/* identical to box height, or 164% */


/* black */

color: #000000;

}
.header_footer{
  position: relative;  
}
.header_dashboard_container .header_footer .header_title_box .header_btn_box button{
    padding:10px 15px ;
    border: none;
    margin-top: 10px;
 }
 .header_dashboard_container .header_footer .header_title_box .header_btn_box button:first-child{
    display: flex;
padding: 10px 14.5px;
background: #2254B4;
border-radius: 4px;
    color: #fff;
    border-radius: 5px;
 }
 .header_dashboard_container .header_footer .header_title_box .header_btn_box{
    display: flex;
    gap: 10px;
 }

.header .header_container .header_navbar ul li{
    padding: 5px 27px;
}
.header .header_container .header_navbar div{
    margin-left:160px;
}
.header .header_container .header_navbar ul li a .vektor{
    width: 15px;
    height: 15px;
    margin-left: 5px;
}

.header_dashboard_container{
    padding-left: 8%;
    padding-right: 15%;
}
.header_dashboard{
    display: flex;
    align-items: center;
    background-color: #F5F5F5;
    margin-top: 150px;
    width: 250px;
    border-radius:15px ;
    gap: 5px ;
    padding: 3px ;
}
 .header_dashboard_container .header_footer .header_dashboard a{
    background-color: lightblue;
    padding: 4px 8px ;
    font-size: 12px;
    border-radius: 20px;
 }
 .header_dashboard_container .header_footer .header_title_box .texts h1{
    font-size: 56px;
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
width: 446px;
height: 156px;
line-height: 75px;
 }
 .img{
    position: absolute;
    top:-40px;
    right:-250px;
 }
 .header_dashboard_container .header_footer .header_title_box .texts h3{
    width: 446px;
}
 /*header qismi tugadi */


.biznes{
    width: 1281px;
    height: 916px;
    margin-left: 182px;
    margin-top: 148px;
    background-color: antiquewhite;
    margin: 0 auto;
   
}
.description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 446px;
    height: 186px;
    margin-left: 182px;
    margin-top: 27px;
}
.business_building{
    margin-left: 182px;
    margin-top: 148px;
    width: 446px;
    height: 112px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 133.02%;
    color: #000000;
}
.here_are{
   
    margin-left: 182px;
    margin-top: 24px;
    width: 446px;
    height: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 25px;
    color: #000000;
}
 .business_bottom{
   
    width: 916px;
    height: 635px;
    margin-left: 182px;
    margin-top: 50px;
    background: #F5F5F5;
    border-radius: 8px;
} 
.header_busines{
    width: 544px;
    height: 42px;
}
.header_busines ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 544px;
    height: 42px;
    margin-left: 59px;
    margin-top: 56px;
    padding-top: 44px;
}
.header_busines ul li:hover{
    background-color: #9f9999;
    cursor: pointer;
}
.business_middle{
    display: flex;
    justify-content: space-between;
}
.loading{
   
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 14.5px;
    gap: 5px;
    width: 79px;
    height: 42px;
    background: #000000;
    border-radius: 26px;
}
.loading:hover{
    background-color: #9f9999;
    cursor: pointer;
}
.carbon{
    margin-top: 88px;
    margin-left: 45px;
    width: 345px;
    height: 80px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 133.02%;
    color: #000000; 
}
.carbon_wanted{
    margin-top: 24px;
    margin-left: 45px;
    width: 345px;
    height: 126px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #606060;
    margin-bottom: 30px;
}
.read_more{
    margin-left: 45px;
    width: 220px;
    height: 21px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 21px;
    color: #2254B4;
}
.busines_phone{
    position: relative;
    margin-top: 108px;
    margin-right: 35px;
}
.business_logo{
    position: absolute;
    width: 90px;
    height: 90px;
    left: 239px;
    top: -26px;
    background: #FFFFFF;
    border-radius: 111px;
}
.flex_for_biznes {
    display: inline-flex;
    gap: 5px;
    align-items: center;
}
/* build qismi boshlandi============================================== */
.container{
    width: 916px;
    border: 1px solid black;
    margin: 0 auto;
}
.build_header{
    margin: 0 auto;
    width: 916px;
height: 186px;
}
.build .container{
    margin-top: 52px;
}
.build_body{
margin-top: 51px;
}
.build{
    margin: 0 auto;
height: 1200px;
width: 1280px;
border: 1px solid red;
border-color: #FFF;
}
.direct_pay_father{
    width: 916px;
    margin-top: 20px;
    height: 537px;
    display: flex;
    justify-content: space-between;
}
.build_header_big_text{
    

/* header 1 */

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 78px;
}
/* black */

.build_header_small_text{
    /* margin-top: 74px; */


/* body text 1 */

font-family: 'Inter';
font-style: normal;
margin-bottom: 31px;
font-weight: 400;
font-size: 19px;
line-height: 25px;
font-weight: 400;
font-size: 19px;
line-height: 25px;
/* or 132% */


/* black */

color: #000000;
}
.build_connect{
    width: 916px;
height: 354px;
padding: 56px 0 0    45px;
 }
/* light blue */

.text_big-build_connect{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 133.02%;
/* identical to box height, or 40px */


/* white */

color: #FFFFFF;
margin-top: 24px;
}
.text_small-build_connect{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 18px;
/* or 138% */


/* white */

color: #FFFFFF;
margin-top: 8px;
}
.build_connect-button{
    width: 148px;
height: 40px;
border: none;

cursor: pointer;
margin-top: 28px;

/* white */

border-radius: 4px;
}
#color-black{
    color: #000;
}
.direct_pay1{
    width: 448px;
height: 537px;
padding: 56px 0 0 45px;

/* light blue */
border-radius: 8px;
    background-image: url(../images/build-2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.direct_pay1-button{
    width: 156px;
height: 40px;
margin-top: 28px;
border: none;
cursor: pointer;
}
.direct_pay2{
    margin-left: 20px;
    width: 448px;
height: 537px;
padding: 56px 0 0    45px;

border-radius: 8px;
    background-image: url(../images/build-3.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.direct_pay1_footer{
    display: flex;
    margin-top: 17px;
}
.direct-pay2-button{
    margin-top: 28px;
    width: 134px;
height: 38px;
cursor: pointer;
border: none;
border-radius: 4px;
}
/* built qismi tugadi======================================= */


/* Get bo'limi boshlandi ===========================================*/
    
    .get .container {
        width: 916px;
        margin: 0 auto;
        border: none;
    }
    .get {
        width: 1282px;
        margin: 0 auto;
        padding: 100px 0 30px;
        background-image: url(../images/section_get_bgc.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .get_section_title {
        font-family: 'Inter', sans-serif;        font-style: normal;
        font-weight: 600;
        font-size: 42px;
        color: #ffffff;
        margin-bottom: 30px;
        line-height: 133.02%;
    }
    .get_section_mainbox {
        width: 916px;
        background-color: #ffffff;
        position: relative;
        border-radius: 8px;
        padding: 50px 30px;
    }
    .get_section_main_then_title {
        font-family: 'Inter', sans-serif;        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 133.02%;
        margin: 10px 0 5px;
    }
    .section_get_code {
        position: absolute;
        bottom: 0;
        right: 40px;
    }
    .get_section_button_flex {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 21px;
        color: #2254B4;
        gap: 5px;
    }
    .get_section_footer_mainbox {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 20px 0;
    }
    .get_section_smallbox {
        width: 293px;
        padding: 30px 20px;
        background-color: white;
        border-radius: 8px;
    }
    .get_section_footer_title {
        width: 199px;
        margin: 10px 0;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
    }
    .link_section_get {
        font-family: 'Inter', sans-serif;
        font-weight: bold;
        font-size: 15px;
    }
/* Get bo'limi tugadi ===========================================*/


.footer1{
    background-color: black;
}
.h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 133.02%;

    text-align: center;
    color: #FFFFFF;
}
.yozuv1{
    width: 450px;
    margin: 0 auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400px;
    font-size: 19px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;

}
 /* market started  */

 .market{
    max-width: 1280px;
    padding:  0 180px;
    margin: 0 auto;
 }

 .market_in{
    max-width: 100%;
 }

 .market_in h1{
    width: 446px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 133.02%;
color: #000000;
margin-top: 110px;
 }

 .market_in p{
    width: 446px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 25px;
color: #000000;
margin-top: 24px;
 }

 .market_slider{
    max-width: 100%;
    margin-top: 58px;
    overflow: hidden;
 }

 .market_slider_in{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
 }

 .market_slider_item{
    width: 448px;
    height: 555px;
    background: #F5F5F5;
    border-radius: 8px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    padding: 45px;
 }

 .market_slider_item > img{
    width: 29px;
    height: 85px;
 }

 .market_slider_item > span{
    max-width: 358px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 138%;
    color: #000000;
 }

 .market_flex{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 14px;
 }

 .market_text{
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    gap: 3px;
 }

 .market_btns{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0 64px;
 }

 .market_btns > div:nth-child(1) {
    display: flex;
    gap: 10px;
 }

 .market_btns > div:nth-child(1) > span{
    border-radius: 50%;
    min-width: 12px;
    min-height: 12px;
    background:#f5f5f5;
 }

 .market_btn{
    display: flex;
    gap: 11px;
 }

 .market_left {
    width: 37px;
    height: 37px;
    background: #F5F5F5;
    border-radius: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .market_right{
    width: 37px;
    height: 37px;
    background: #2254B4;
    border-radius: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 /* market finished  */
